<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>    
    <title>Edit User List</title>
</head>
<body>    
    <h1>Edit List</h1>    
    <form th:action="@{/users/update}" method="POST">
        <input type="hidden" name="id" th:value="${user.id}" />
        <label for="name">Name:</label>
        <input type="text" name="name" th:value="${user.name}" />
        <label for="email">Email:</label>
        <input type="text" name="email" th:value="${user.email}" />
        <input type="text" name="phoneNumber" th:value="000000" />
        <button type="submit">수정합니다. 후회금지</button>
    </form>
</body>
</html>