<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserPhonesMapper">       
    <select id="getAllUsersPhones" resultType="com.example.demo.model.UserPhonesVO">        
        SELECT u.id AS id, u.name, u.email, p.phone_number AS phoneNumber        
        FROM users u        
        LEFT JOIN phones p ON u.id = p.user_id    
    </select> 
</mapper>